body {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 22.5px;
  font-weight: 700;
	background: url(https://cdn.wallpapersafari.com/59/9/jdBCIz.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
	color: gold;
  
  
  
}

.movie-app > .row {
  position: relative;
	overflow-x: auto;
	flex-wrap: nowrap;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  ;
}

.image-container {

	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

h2 {
  font-size: 35px;
}

.title {
  font-size: 25px;
}

.synopsisBox {
  border: 2px gold;
  padding: 10px;
  margin:10pm;
  max-width: 400px;
  margin: 0 auto;
}

.synopsis {
  text-align: center;
  max-width: 400px;
}